@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'icoomon';
    src: url('/arquivos/icomoon-Real-plaza.eot.css');
    src: url('/arquivos/icomoon-Real-plaza.eot.css') format('embedded-opentype'),
        url('/arquivos/icomoon-Real-plaza.ttf.css') format('truetype'),
        url('/arquivos/icomoon-Real-plaza.woff.css') format('woff'),
        url('/arquivos/icomoon-Real-plaza.svg.css') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.body-cart {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
}

.container-cart {
    width: 100%;
}

#checkout-top-header {
    background-color: #7300e0;
}

.checkout-top-header-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-top-header-wrap .logo {
    width: 200px;
}

.checkout-top-header-wrap .center-info {
    text-align: center;
    display: none;
}

.checkout-top-header-wrap .center-info p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.checkout-top-header-wrap .secure-site p {
    display: flex;
    align-items: center;
    color: #fff;
}

.checkout-top-header-wrap .secure-site p::before {
    margin-right: 10px;
    font-family: 'icoomon';
    font-size: 22px;
    content: '\e920';
}

.checkout-info-mobile {
    padding: 30px 20px;
    display: block;
    text-align: center;
}

.checkout-info-mobile p {
    font-size: 12px;
    color: #888;
    line-height: 18px;
}

#cart-title {
    display: none !important;
}

#step-by-step-container {
    width: 100%;
    margin: 0 auto 50px auto;
    position: relative;
}

#step-by-step-container::after {
    width: 83%;
    height: 1px;
    margin: 0 auto;
    background-color: #7300e0;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    content: '';
}

#step-by-step-container .step-by-step-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
}

#step-by-step-container .step-by-step-wrap .sbs {
    text-align: center;
}

#step-by-step-container .step-by-step-wrap .sbs .circle {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px auto;
    background-color: #fff;
    border: solid 1px #7300e0;
    border-radius: 60px;
    color: #7300e0;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
}

#step-by-step-container .step-by-step-wrap .sbs-active .circle,
#step-by-step-container .step-by-step-wrap .sbs-success .circle {
    background-color: #7300e0;
    color: #fff !important;
}

#step-by-step-container .step-by-step-wrap .sbs-success .circle {
    font-size: 0;
}

#step-by-step-container .step-by-step-wrap .sbs-success .circle::before {
    width: 25px;
    height: 25px;
    margin: 14px auto 0 auto;
    background: url('/arquivos/check-step.png') center no-repeat;
    background-size: cover;
    display: block;
    content: '';
}

#step-by-step-container .step-by-step-wrap .sbs p {
    font-size: 10px;
    font-weight: 300;
    color: #999696;
    letter-spacing: 0.3px;
    line-height: 1;
}

#step-by-step-container .step-by-step-wrap .sbs-active p {
    font-weight: bold;
}

.full-cart,
.orderform-template,
.container-order-form {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 15px;
    float: none !important;
}

.cart {
    padding: 0;
    border: solid 1px #eaecee;
}

.cart-items {
    border-spacing: none;
}

.cart-items thead {
    background-color: #ededed;
}

.cart-items thead th {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.cart-items tbody .product-image {
    padding: 15px 18px;
}

.cart-items tbody .item-remove {
    padding: 10px 30px;
}

.cart-items tbody td {
    padding: 45px 7px;
    border-bottom: solid 1px #eaecee;
}

.cart-items tbody .item-remove .item-link-remove::before {
    font-size: 16px;
    font-family: 'icoomon';
    color: #707070;
    content: '\e909';
}

.cart-items tbody .item-remove .item-link-remove::before:hover {
    color: #7300e0;
}

.cart-items tbody .item-remove .item-link-remove .icon-remove {
    display: none;
}

.cart-items tbody .product-name {
    width: 300px;
}

.cart-items tbody .product-name .seller {
    display: block;
    color: #000000;
    font-weight: 500;
    padding: 10px 0px;
}
.cart-items tbody .product-name .seller [data-bind='text: sellerName'] {
    color: #7300e0;
    font-weight: 800 !important;
    letter-spacing: 0.3px;
    font-size: 14px !important;
    text-transform: capitalize;
}

.cart-items tbody .product-name .seller span:first-child {
    font-size: 0;
}

.cart-items tbody .product-name .seller span:first-child::before {
    font-size: 13px;
    font-weight: bold;
    content: 'Vendido por: ';
}

.cart-items tbody .product-name .seller span:last-child {
    font-size: 13px;
    font-weight: 400;
}

.cart-items tbody .product-name a {
    color: #000 !important;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.cart-items .shipping-date {
    width: 165px;
}

.cart-items .shipping-date .shipping-estimate-date {
    font-size: 15px !important;
    color: #161417;
    text-transform: capitalize;
}

.cart-items .shipping-date .shipping-estimate-date span::first-letter {
    text-transform: capitalize !important;
}
.cart-items .item-quantity-change {
    color: #7300e0;
}

.cart-items .item-quantity-change .icon-minus-sign::before,
.cart-items .item-quantity-change .icon-plus-sign::before {
    width: 25px;
    height: 25px;
    color: #fff !important;
    background-color: #7300e0;
    line-height: 22px;
    border-radius: 18px;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    position: relative;
}

.cart-items .item-quantity-change .icon-minus-sign::before {
    content: '-';
}

.cart-items .item-quantity-change .icon-plus-sign::before {
    content: '+';
}

.cart-items .quantity input {
    /* padding-top: 14px; */
    border: none;
    box-shadow: none;
    min-width: 30px;
    color: #161417;
    font-size: 16px !important;
    pointer-events: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.cart-items .product-price .best-price,
.cart-items .product-price .list-price {
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.3px;
}

.cart-items .product-price .list-price {
    font-weight: 300;
    font-size: 13px;
    color: #000000;
}

.cart-items .product-price .old-product-price-label,
.cart-items .product-price .new-product-price-label {
    display: none;
}

.coupon-fieldset div[data-bind] {
    display: block !important;
}

.coupon-fieldset .coupon-data {
    display: none !important;
}

.coupon-fieldset .coupon-label label {
    font-size: 0;
}

.coupon-fieldset .coupon-label label::before {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #5c5c5c;
    content: '¿TIENES UN CUPÓN DE DESCUENTO?';
    font-weight: 600;
}

.coupon-fieldset #cart-coupon {
    width: 160px;
    padding: 18px 0;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
    border-radius: initial;
}

.coupon-fieldset #cart-coupon-add {
    padding: 8px 14px 3px 20px;
    background: none;
    border: solid 1px #7300e0 !important;
    border-radius: 5px;
    color: #7300e0;
    font-size: 0;
    letter-spacing: 1px;
}

.coupon-fieldset #cart-coupon-add::before {
    font-size: 12px;
    content: 'APLICAR';
}

.coupon-fieldset #cart-coupon-add:hover {
    background: #7300e0;
    color: #fff !important;
}

.cart-active .summary-coupon {
    margin-bottom: 35px !important;
}

.summary-template-holder .accordion-group .accordion-heading {
    background-color: #ededed;
    display: block !important;
    border-radius: 5px 5px 0 0;
}

.summary-template-holder .accordion-group .accordion-heading .accordion-toggle {
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.summary-template-holder .accordion-group .accordion-inner {
    border: solid 1px #ededed;
    border-radius: 0 0 5px 5px;
}

.full-cart .summary-totalizers .monetary {
    width: 155px;
}

.full-cart .summary-totalizers tr {
    border-bottom: none;
}

.full-cart .summary-totalizers .Items .info,
.full-cart .summary-totalizers .srp-summary-result .info {
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #232323;
}

.full-cart .summary-totalizers .Items .monetary,
.full-cart .summary-totalizers .srp-summary-result .monetary {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: right;
}

.full-cart .summary-totalizers tfoot .info {
    font-size: 16px;
    font-weight: bold;
    color: #7300e0;
}

.full-cart .summary-totalizers tfoot .monetary {
    padding: 4px 0;
    color: #7300e0;
    font-size: 16px;
    text-align: right;
}

.full-cart .summary-totalizers .empty {
    width: 20px;
}

.btn-place-order-wrapper #cart-to-orderform {
    padding: 8px 24px;
    background: #7300e0;
    border: solid 1px #7300e0;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-place-order-wrapper #cart-to-orderform:hover {
    box-shadow: 0 2px 7px #ccc;
}

.link-choose-more-products-wrapper #cart-choose-more-products {
    margin-right: 0;
    font-size: 0;
    text-decoration: none;
    color: #5c5c5c !important;
}

.link-choose-more-products-wrapper #cart-choose-more-products::before {
    margin-right: 10px;
    font-size: 12px;
    font-family: 'icoomon';
    content: '\e910';
}

.link-choose-more-products-wrapper #cart-choose-more-products::after {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: 'SEGUIR COMPRANDO';
}

.cart-links-bottom {
    text-align: center;
}

#main-footer {
    width: 100%;
}

#main-footer .container-title {
    margin-bottom: 25px;
    text-align: center;
}

#main-footer .container-title p {
    font-size: 14px;
    color: #2d2d2b;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#main-footer .container-payments {
    margin-bottom: 30px;
    text-align: center;
}
#main-footer .container-payments img {
    width: 270px;
    image-rendering: -webkit-optimize-contrast;
}

#main-footer .container-copyright {
    background-color: #7300e0;
    text-align: center;
}

#main-footer .container-copyright p {
    margin: 0;
    padding: 15px 0;
    font-size: 12px;
    color: #fff !important;
}

#main-footer .container-copyright .company-icons {
    color: #fff !important;
    font-style: normal;
    font-family: 'icoomon';
}

/*
#main-footer .container-copyright .company-icons::before {
    margin: 0 8px;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    content: '\e902';
}
*/

#main-footer .container-copyright .company-icons::after {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    content: '\e925';
}

.form-page .link-cart {
    /* width: 375px; */
    margin-bottom: 20px;
    /* text-align: center; */
    float: none;
}

/* .form-page .pre-email {
    width: 75% !important;
    margin: 0 auto 50px 15px !important;
    float: none !important;
} */
fieldset.pre-email.row-fluid {
    width: 90%;
    margin: 0 auto;
}
.form-page .pre-email #client-pre-email {
    height: 40px;
    margin-bottom: 25px;
    padding: 0 15px;
    font-size: 15px;
}
.client-pre-email {
    width: 100%;
}
.form-page .pre-email #client-pre-email::placeholder {
    color: #343335;
}

.client-pre-email .btn-success {
    height: 38px;
    margin: -1px -2px 0 0;
    padding: 0 40px;
    font-size: 13px;
    /* background: #7300E0;
    text-transform: uppercase;
    color: #ffffff; */
    letter-spacing: 0.5px;
}

#orderform-title {
    display: none !important;
}
.client-email.input.text.required.span8.offset2 {
    max-width: 700px;
}

.client-pre-email {
    border: none;
}

.client-pre-email-h {
    margin: 0 0 25px 0;
}

.client-pre-email-h label {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #2c2c2c;
}

.client-pre-email-h label span {
    margin-bottom: 20px;
    line-height: 20px;
    display: block;
}

.client-pre-email h3 small {
    font-size: 17px;
    font-weight: 400;
    color: #2c2c2c;
}

.client-email {
    width: 100% !important;
    margin: 0 auto 0 auto !important;
    float: none !important;
}

.client-pre-email .emailInfo {
    width: 90%;
    margin: 0;
    padding: 15px 40px 30px;
    border: none;
    border-radius: 10px;
}

.client-pre-email .emailInfo h3 {
    margin-bottom: 20px;
    color: #2c2c2c;
    font-size: 15px;
}

.client-pre-email .emailInfo ul {
    color: #2c2c2c;
}

.client-pre-email .emailInfo ul .icon-ok {
    margin-right: 10px;
}

.client-pre-email .emailInfo ul .icon-ok::before {
    color: #7300e0;
}

.client-pre-email .emailInfo ul li:not(:last-child) {
    margin-bottom: 10px;
}

.client-pre-email .emailInfo .icon-lock {
    bottom: 11px;
    right: 40px;
}

.client-pre-email .emailInfo .icon-lock::before {
    color: #f2f2f2;
}

.orderform-template-holder #client-profile-data .accordion-group {
    padding: 10px;
    border: solid 1px #f1f1f1;
}

.orderform-template-holder .client-first-name,
.orderform-template-holder .client-document {
    width: 45%;
    margin: 0 26px 20px 0;
}

.orderform-template-holder .client-first-name input,
.orderform-template-holder .client-last-name input,
.orderform-template-holder .client-document input,
.orderform-template-holder .client-phone input {
    width: 100%;
}

.orderform-template-holder .client-last-name,
.orderform-template-holder .client-phone {
    width: 45%;
}

.orderform-template-holder span[data-i18n='clientProfileData.identification'] {
    font-size: 17px;
    font-weight: 500;
    color: #3a3a37;
}

.orderform-template-holder .form-step .client-notice {
    font-weight: 400;
    color: #3a3a37;
}

.orderform-template-holder .box-client-info-pf label {
    margin-bottom: 3px;
    font-weight: 500;
    color: #3a3a37;
}
.orderform-template-holder .box-client-info input {
    padding: 14px 12px;
}

.orderform-template-holder .box-client-info .client-email {
    margin: 0 auto 20px auto !important;
}

.orderform-template-holder .box-client-info #client-email {
    width: 98%;
}

.orderform-template-holder .box-client-info input.success {
    background-position: right center;
}

#is-corporate-client {
    margin-bottom: 20px;
    padding: 7px 10px;
    text-decoration: none;
    border: solid 1px #7300e0;
    display: inline-block;
    border-radius: 5px;
    color: #7300e0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

#is-corporate-client:hover {
    background-color: #7300e0;
    color: #fff !important;
}

.orderform-template-holder .newsletter {
    margin-top: 15px;
}

.orderform-template-holder #opt-in-newsletter {
    width: 19px;
    height: 19px;
}

.orderform-template-holder .newsletter-text {
    margin: 3px 0 0 3px;
    display: inline-block;
    vertical-align: middle;
}

.orderform-template-holder .btn-submit-wrapper {
    margin-top: 25px;
}

.orderform-template-holder #go-to-shipping,
.orderform-template-holder #go-to-payment,
.orderform-template-holder #btn-go-to-payment {
    padding: 12px 28px;
    background: #7300e0;
    border: solid 1px #7300e0;
    color: #fff !important;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    display: inline-block;
    box-shadow: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.orderform-template-holder #go-to-shipping:hover,
.orderform-template-holder #go-to-payment:hover,
.orderform-template-holder #btn-go-to-payment:hover {
    box-shadow: 0 2px 7px #b3b3b3;
}

.orderform-template-holder #go-to-shipping::before,
.orderform-template-holder #go-to-payment::before {
    font-size: 14px;
    content: 'CONTINUAR';
    display: block;
}

.orderform-template-holder #btn-go-to-payment::before {
    font-size: 14px;
    content: 'IR AL PAGO';
    display: block;
}
.orderform-template-holder #go-to-shipping,
.orderform-template-holder #go-to-payment {
    display: none;
}
.orderform-template-holder #go-payment {
    opacity: 0.4;
    pointer-events: none;
}
#shipping-data .accordion-group,
#payment-data .accordion-group {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border: none;
    border-bottom: solid 2px #ccc;
    border-radius: initial;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
}

#shipping-data .accordion-group .accordion-toggle {
    font-size: 0;
}

#shipping-data .accordion-group .accordion-toggle,
#payment-data .accordion-group .accordion-toggle {
    margin-bottom: 15px;
}

#payment-data .accordion-group .accordion-toggle {
    margin-bottom: 0;
    padding: 15px 20px 0 20px;
}

#shipping-data .accordion-group .accordion-toggle::after {
    font-size: 15px;
    content: 'Dirección de envío';
}

#shipping-data .accordion-group .accordion-toggle .icon-home,
#payment-data .accordion-group .accordion-toggle .icon-credit-card {
    margin-right: 10px;
    font-size: 20px;
}

#shipping-data .accordion-group .accordion-inner .shipping-summary-info,
#payment-data .accordion-group .accordion-inner .notification {
    font-size: 11px;
}

.cart-fixed {
    height: auto !important;
    border: solid 1px #d8d8d8;
    border-radius: 7px;
}

.cart-fixed h2[data-i18n='totalizers.summary'] {
    padding: 11px;
    text-align: center;
    background-color: #7300e0;
    border: none;
    color: #fff !important;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.cart-fixed .hproduct {
    margin-bottom: 18px;
    padding: 12px 12px 18px 12px;
    border: none;
}

.cart-fixed .hproduct:not(:last-child) {
    border-bottom: solid 1px #dfdfdf;
}

.cart-fixed .hproduct a {
    width: 52px;
    height: 52px;
}

.cart-fixed .hproduct a img {
    width: 100%;
}

.cart-fixed .quantity {
    padding: 5px 7px;
    font-size: 13px;
    background-color: #ffc841;
    color: #242424;
    left: 50px;
    border-radius: 15px;
    box-shadow: none;
}

.cart-fixed .product-name {
    color: #242424;
    text-indent: 9px;
}

.cart-fixed .price {
    font-size: 17px;
    color: #242424;
    float: left;
    margin-left: 9px;
    margin-top: 5px;
}

.cart-fixed .summary-cart-template-holder {
    height: auto !important;
}

.cart-fixed .summary-template-holder {
    margin-bottom: 25px;
    background: #fff;
    border-top: solid 2px #eaeaea;
}

.cart-fixed #go-to-cart-button {
    width: 100%;
    padding: 12px 22px;
    text-align: right;
}

.cart-fixed .summary-template-holder .accordion-group .accordion-inner {
    padding: 0 10px;
    border: none;
}

.cart-fixed #go-to-cart-button #orderform-minicart-to-cart {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #7300e0;
}

.cart-fixed .accordion-toggle {
    display: none;
}

.cart-fixed .Items .info {
    width: 100%;
    text-align: left;
    color: #242424;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
}

.cart-fixed .Items .monetary {
    width: 100%;
    padding: 15px;
    color: #242424;
    font-size: 15px;
    font-weight: bold;
}

.cart-fixed tfoot .info {
    width: 100%;
    text-align: left;
    color: #7300e0 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 12px 15px;
    background-color: #eee;
    border-radius: 7px 0 0 7px;
}

.cart-fixed tfoot .monetary {
    width: 100%;
    padding: 12px 15px;
    color: #7300e0 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    background-color: #eee;
    border-radius: 0 7px 7px 0;
}

.mini-cart .cart {
    height: 200px;
}

.payment-confirmation-wrap span[data-i18n='paymentData.confirm'] {
    font-size: 0;
}

.payment-confirmation-wrap span[data-i18n='paymentData.confirm']::before {
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    content: 'FINALIZAR PAGO';
}

.payment-submit-wrap #payment-data-submit {
    background: #7300e0;
    border: solid 1px #7300e0;
    box-shadow: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.vtex-omnishipping-1-x-svg path {
    fill: #7300e0;
}

.vtex-omnishipping-1-x-shippingSectionTitle,
.vtex-omnishipping-1-x-address label {
    margin-bottom: 5px;
    color: #242424 !important;
    font-weight: 500;
}

.address-summary {
    background: none !important;
    padding: 14px !important;
}

.vtex-omnishipping-1-x-address .ship-number,
.vtex-omnishipping-1-x-address
    .ship-complement
    .vtex-omnishipping-1-x-address
    .ship-receiverName {
    width: 100%;
    display: block;
}

.vtex-omnishipping-1-x-address #ship-street,
.vtex-omnishipping-1-x-address #ship-number,
.vtex-omnishipping-1-x-address #ship-complement,
.vtex-omnishipping-1-x-address #ship-receiverName {
    width: 100%;
    padding: 14px 12px;
}

.vtex-omnishipping-1-x-address
    .ship-complement
    .vtex-omnishipping-1-x-address
    .ship-receiverName {
    display: inline-block;
    vertical-align: middle;
}

.vtex-omnishipping-1-x-address .ship-complement {
    width: 35%;
    margin-right: 15px;
}

.vtex-omnishipping-1-x-address .ship-receiverName {
    width: 60%;
}

.icon-edit::before {
    color: #646464;
}

.client-profile-data #edit-profile-data {
    top: 76px;
}

.affix-top {
    width: 100%;
}

.affix {
    /* width: 100%; */
}

.ship-state,
.ship-city,
.ship-neighborhood {
    margin-bottom: 20px;
}

.ship-state,
.ship-city,
.ship-neighborhood,
.ship-state select,
.ship-city select,
.ship-neighborhood select {
    width: 100%;
}

.ship-state select,
.ship-city select,
.ship-neighborhood select,
select.success {
    margin-right: 5px;
}

.ship-state label,
.ship-city label,
.ship-neighborhood label {
    margin-bottom: 5px;
    color: #242424 !important;
    font-weight: 500;
}

.vtex-omnishipping-1-x-option:hover,
.vtex-omnishipping-1-x-leanShippingOptionActive {
    background-color: #efefef !important;
}

.vtex-omnishipping-1-x-summaryChange {
    border: 1px dashed #384660 !important;
    color: #384660 !important;
}

#payment-data .accordion-group {
    border: solid 1px #e8e8e8;
    border-radius: 5px;
}

#payment-data .payment-group {
    margin-top: 35px;
    padding: 0 22px;
}

#payment-data .accordion-toggle {
    font-size: 16px;
}

#payment-data .payment-group-list-btn .payment-group-item {
    margin: 0;
    padding: 0;
    color: #000;
    border: none;
    opacity: 0.4;
}

#payment-data .payment-group-list-btn .active {
    background: none;
    opacity: 1;
}

#payment-data
    .payment-group-list-btn
    .payment-group-item
    .payment-group-item-text {
    background: none;
}

#payment-data
    .payment-group-list-btn
    #payment-group-creditCardPaymentGroup
    .payment-group-item-text {
    width: 100%;
    padding: 0;
    font-size: 0;
}

#payment-data
    .payment-group-list-btn
    #payment-group-creditCardPaymentGroup
    .payment-group-item-text::after {
    margin-left: 10px;
    font-family: 'icoomon';
    font-size: 20px;
    margin: 3px;
    color: #000;
    position: relative;
    top: 3px;
    content: '\e913';
}
#payment-data
    .payment-group-list-btn
    #payment-group-creditCardPaymentGroup
    .payment-group-item-text::before {
    font-size: 12px;
    content: 'Tarjeta de crédito/debito';
}

#payment-data .box-step-content .steps-view {
    width: 100%;
    background: none;
}

/* #iframe-placeholder-creditCardPaymentGroup iframe {
    height: 570px !important;
} */

body {
    background: none;
}

.SecurityEnvironmentIcon {
    /* width: 150px;
    margin: 0 auto; */
    text-align: center;
    background: none;
    margin-bottom: 10px;
    position: absolute;
    top: -2px;
    right: 0;
}
input#creditCardpayment-card-0Number {
    width: 80%;
}

.SecurityEnvironmentIcon .icon-lock {
    float: none;
}

.SecurityEnvironmentIcon .payment-environment-icon-text {
    width: 100%;
    display: block;
    font-size: 0;
}

.SecurityEnvironmentIcon .payment-environment-icon-text::before {
    font-size: 11px;
    content: 'SITIO SEGURO';
}

.PaymentCardNumber,
.PaymentCardFlags,
.PaymentInstallments,
.PaymentCardHolderName,
.PaymentCardDueDate,
.PaymentCardCVV {
    margin-bottom: 15px;
}

.PaymentCardNumber .FormFieldLabel,
.PaymentCardHolderName .FormFieldLabel,
.PaymentCardDueDate .FormFieldLabel,
.PaymentCardCVV .FormFieldLabel {
    width: 100%;
    display: block;
    float: none;
    font-size: 0;
}

.PaymentCardNumber .FormFieldLabel::before {
    font-size: 13px;
    color: #4a4a4a;
    content: 'Ingresa los 16 dígitos de tu tarjeta';
}

.PaymentCardHolderName .FormFieldLabel::before {
    font-size: 13px;
    color: #4a4a4a;
    content: 'Nombre como figura la tarjeta';
}

.PaymentCardDueDate .FormFieldLabel::before {
    font-size: 13px;
    color: #4a4a4a;
    content: 'Fecha de vencimiento';
}

.PaymentCardCVV .FormFieldLabel::before {
    font-size: 13px;
    color: #4a4a4a;
    content: 'Código de seguridad';
}

.PaymentCardNumber input,
.PaymentCardHolderName input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border: solid 1px #e2e4e5;
}

.PaymentCardCVV input {
    width: 270px;
    height: 30px;
    font-size: 14px;
    border: solid 1px #e2e4e5;
}

.ChangeNumberOfPayments a {
    font-weight: bold;
    color: #7300e0;
}

/* #app-container {
    margin-top: 60px;
} */

.seller-top {
    border: solid 1px #ccc;
}

a.add-item-attachment.btn.btn-mini,
a#open-shipping {
    font-size: 11px;
    padding: 3px 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background: #ffffff;
    color: #7300e0;
    border: 1px solid #7300e0;
}
a#open-shipping {
    font-size: 13px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background: #ffffff;
    color: #7300e0 !important;
    border: 1px solid #7300e0 !important;
    letter-spacing: 0.5px;
}
a.add-item-attachment.btn.btn-mini:hover {
    background: #7300e0;
    color: #ffffff !important;
}

span.total-selling-price {
    font-size: 17px;
    font-weight: 800;
    color: #000000;
}
/*Entrega 1er paso checkout*/
a.srp-address-title.link.pointer.blue.f5 {
    color: #7300e0 !important;
}
.srp-content.onda-v1 {
    font-family: 'Lato', sans-serif;
}
button#cart-shipping-calculate {
    color: #7300e0 !important;
    border: 1px solid #7300e0 !important;
    text-transform: uppercase;
}
button#cart-shipping-calculate:hover {
    color: #ffffff !important;
    background-color: #7300e0;
}

/*Color radio buttons*/
svg.srp-icon-radio-selected.db path {
    fill: #7300e0;
}

.card-flag-radio:checked::after {
    background: #7300e0;
    border: 1px solid #7300e0 !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    top: -1px;
    /* left: 2px; */
}

/*General notifications*/
.lookatme {
    background: #ffffff !important;
    background-color: #ffffff !important;
    border-top: 1px solid #7300e0;
    /* border-bottom: 2px solid #7300E0; */
    border-right: 1px solid #7300e0;
    border-left: 1px solid #7300e0;
}
.item-unavailable {
    background: rgb(115 0 255 / 11%) !important;
    background-color: rgb(115 0 255 / 11%) !important;
}
.item-unavailable .top-arrow {
    border-bottom-color: rgb(115 0 255 / 11%) !important;
}
.srp-unavailable.flex.items-center.tl.pa3.br2.ba.b--yellow {
    border: 1px solid #7300e0;
}
a#not-corporate-client {
    color: #7300e0;
}
input#opt-in-newsletter {
    background: #7300e0 !important;
    background-color: #7300e0 !important;
}
.help .error {
    color: #7300e0 !important;
}

input.error {
    border-color: #7300e0 !important;
}
.modal {
    border: 1px solid #7300e0 !important;
    background: #fff !important;
    background-color: #ffffff !important;
}

.vtex-omnishipping-1-x-alert {
    border: 1px solid #7300e0 !important;
}

.vtex-omnishipping-1-x-pickupButton {
    background: #7300e0 !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 15px;
    width: 90% !important;
}
button.btn.btn-link.vtex-omnishipping-1-x-btnDelivery {
    background: #7300e0 !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none !important;
}

.vtex-omnishipping-1-x-backToAddressList,
.vtex-omnishipping-1-x-dateLink,
button#change-pickup-button {
    border: 1px solid #7300e0 !important;
    margin-top: 15px;
    text-transform: uppercase;
    color: #7300e0 !important;
    padding: 10px !important;
    letter-spacing: 0.5px;
    font-size: 13px !important;
    font-weight: 500;
    text-decoration: none !important;
    text-shadow: none !important;
}

.vtex-omnishipping-1-x-backToAddressList:hover,
.vtex-omnishipping-1-x-dateLink:hover {
    color: #ffffff !important;
    background-color: #7300e0 !important;
    border: 1px solid #ffffff;
}

button.glide__bullet.glide__bullet--active {
    background-color: #7300e0 !important;
}
p.input {
    margin-top: 5px;
}

.step.accordion-group.shipping-data.vtex-omnishipping-1-x-shippingDataDev.active {
    border: 1px solid #ccc !important;
}
.vtex-omnishipping-1-x-leanShippingOptionActive {
    display: none;
}

.react-datepicker__day.react-datepicker__day--017.react-datepicker__day--keyboard-selected {
    background-color: #7300e0 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
}
.react-datepicker__day.react-datepicker__day--025.react-datepicker__day--selected.react-datepicker__day--weekend {
    background-color: #7300e0 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
}
.react-datepicker__day.react-datepicker__day--020.react-datepicker__day--keyboard-selected {
    background-color: #7300e0 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
}
.react-datepicker__day--keyboard-selected {
    background-color: #7300e0 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
}
.react-datepicker__day--selected {
    background-color: #7300e0 !important;
    color: #ffffff !important;
    border-radius: 50px !important;
}

button#edit-address-button,
button#new-address-button {
    border: 1px solid #7300e0 !important;
    color: #7300e0 !important;
}
.vtex-omnishipping-1-x-dateLinkModify {
    color: #7300e0 !important;
}

.p.client-first-name {
    font-size: 0px;
}
.p.client-first-name::after {
    content: 'Nombres';
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
    font-weight: 400;
    color: #3a3a37;
    letter-spacing: 0.5px;
}
.shipping-method-toggle.vtex-omnishipping-1-x-deliveryChannelsToggle.shipping-method-toggle-delivery {
    width: 100%;
}

/*Recogida en tienda*/
.shipping-method-toggle.vtex-omnishipping-1-x-deliveryChannelsToggle.shipping-method-toggle-delivery,
.shipping-method-toggle.vtex-omnishipping-1-x-deliveryChannelsToggle.shipping-method-toggle-pickup.vtex-omnishipping-1-x-deliveryChannelsTogglePickup {
    background: #7300e0 !important;
    border: 1px solid #7300e0 !important;
    border-radius: 5px;
    top: 0px !important;
}
.vtex-omnishipping-1-x-deliveryChannelsWrapper.shipping-method-wrapper.is-active.vtex-omnishipping-1-x-isActive.shipping-valid-postal-code.shipping-has-pickups {
    border-radius: 5px;
}
button#shipping-option-delivery span.shp-method-option-text,
button#shipping-option-pickup-in-point span.shp-method-option-text {
    font-size: 0px;
}
button#shipping-option-delivery span.shp-method-option-text::before {
    font-size: 12px;
    content: 'Envío a domicilio';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

button#shipping-option-pickup-in-point span.shp-method-option-text::before {
    font-size: 12px;
    content: 'Recojo en Real Plaza';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
span.shp-method-option-complement.vtex-omnishipping-1-x-deliveryChannelsComplement {
    display: none !important;
}

svg.pickup-marker-blue path {
    fill: #7300e0 !important;
}
p.vtex-omnishipping-1-x-PickupPointName.pickup-point-name {
    text-transform: capitalize;
}

.btn-link {
    color: #7300e0 !important;
}

.icon-edit::before {
    color: #7300e0 !important;
}
/* button.btn {
    background: #7300E0 !important;
    color: #ffffff !important;
} */
/* .modal-header {
    background: #7300E0 !important;
    color: #ffffff !important;
}
.modal-header small.vtex-operation-id-container {
    color: #ffffff !important;
}

.modal-header small.vtex-operation-id-container .vtex-operation-id {
    color: #ffffff !important;
}
.vtexIdUI-user-email.pull-left.muted {
color: #ffffff !important;
}
.vtexIdUI-user-email.pull-left.muted i.vtexid-icon-user.muted {
    color: #ffffff !important;
} */

h4.vtexIdUI-heading {
    /* color: #ffffff !important; */
    text-shadow: none;
    letter-spacing: 0.5px;
    font-size: 13px;
}
button#loginWithAccessKeyBtn {
    text-shadow: none;
}
.vtexIdUI-heading {
    text-shadow: none;
    letter-spacing: 0.5px;
    font-size: 13px;
}
.vtexIdUI .modal-header .close:hover {
    background: #989696;
    border-radius: 5px;
    padding: 3px 6px;
}
.vtexIdUI .modal-header .close:hover {
    background: #7300e0 !important;
}
.vtex-pickup-points-modal-3-x-pickupDetailsHeader.pkpmodal-details-header {
    border-top: none;
}
p.vtex-pickup-points-modal-3-x-pickupDetailsHeaderTitle.pkpmodal-details-header-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
}

.vtex-pickup-points-modal-3-x-pkpmodal.pkpmodal {
    border-radius: 5px;
}
button.vtex-pickup-points-modal-3-x-modalDetailsBackLnk.pkpmodal-details-back-lnk.btn.btn-link {
    align-items: center;
    color: #000000 !important;
}

svg.vtex-pickup-points-modal-3-x-backChevron path {
    fill: #7300e0;
}
button.vtex-pickup-points-modal-3-x-closeButton.pkpmodal-close {
    border-radius: 5px;
    background: #7300e0;
    color: #ffffff;
    text-shadow: none !important;
    top: 0px;
    right: 0px;
}
.vtex-pickup-points-modal-3-x-modalDetailsTop.pkpmodal-details-top {
    /* height: 50px; */
}
.undefined.pkpmodal-details-header-buttons {
    background: #e8e7e7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.vtex-pickup-points-modal-3-x-pickupDetailsHeaderButton {
    color: #7300e0 !important;
}

svg.pkpmodal-pickup-point-marker-image path,
svg.pkpmodal-pickup-point-best-marker-image path:first-child {
    fill: #7300e0 !important;
    stroke: #fff;
}

p.vtex-pickup-points-modal-3-x-pickupPointName.pkpmodal-pickup-point-name {
    text-transform: capitalize;
}
.address-summary.address-summary-PER {
    padding: 10px 0px !important;
}
h3.vtex-pickup-points-modal-3-x-modalDetailsInfoTitle.title.pkpmodal-details-info-title {
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0px;
    color: #000000;
    letter-spacing: 0.5px;
}
h3.vtex-pickup-points-modal-3-x-modalDetailsInfoTitle.pkpmodal-details-info-title {
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.5px;
}
.vtex-pickup-points-modal-3-x-primary {
    background: #7300e0 !important;
    border: 1px solid #7300e0 !important;
    letter-spacing: 0.5px;
    max-width: 400px;
    margin: 0 auto;
}
.vtex-pickup-points-modal-3-x-locationSummary.pkpmodal-location-summary {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.3px;
}

p.vtex-pickup-points-modal-3-x-modalTitle.pkpmodal-title {
    font-size: 0px;
}
p.vtex-pickup-points-modal-3-x-modalTitle.pkpmodal-title::before {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    content: 'Selecciona una tienda de recojo';
}
.vtex-omnishipping-1-x-address .ship-complement {
    width: 100%;
}
.vtex-omnishipping-1-x-address .ship-receiverName {
    width: 100%;
}

a {
    color: #7300e0 !important;
}

button#pkpmodal-show-list-btn {
    border: 1px solid #7300e0 !important;
    letter-spacing: 0.5px;
    max-width: 400px;
    margin: 0 auto;
    color: #7300e0 !important;
}
button#pkpmodal-show-list-btn:hover {
    background: #7300e0 !important;
    border: 1px solid #7300e0 !important;
    letter-spacing: 0.5px;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff !important;
}
h2.vtex-pickup-points-modal-3-x-searchAloneTitle.pkpmodal-search-alone-title {
    font-size: 0px;
}
h2.vtex-pickup-points-modal-3-x-searchAloneTitle.pkpmodal-search-alone-title:hover {
    font-size: 22px;
    text-transform: uppercase;
    content: 'Tiendas de Recojo';
    color: #7300e0 !important;
}

span.shp-alert-icon.vtex-omnishipping-1-x-infoIcon {
    border: 1px solid #7300e0 !important;
    background: #7300e0;
}
span.shp-alert-icon.vtex-omnishipping-1-x-infoIcon svg g {
    fill: #fff !important;
}

span.payment-group-item-text {
    color: #000000;
}
input[type='email']:focus,
input[type='text']:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09),
        0 0 8px rgb(115 0 224 / 0.4) !important;
    border-color: rgb(115, 0, 224) !important;
}
input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09),
        0 0 8px rgb(115 0 224 / 0.4) !important;
    border-color: rgb(115, 0, 224) !important;
}

label.address-item.vtex-omnishipping-1-x-addressItemOption.vtex-omnishipping-1-x-active {
    background: rgb(115 0 224 / 8%) !important;
    border-radius: 5px;
}
/*input-checkbox newsletter*/
#terms-check:checked::after,
#opt-in-newsletter:checked::after,
#policy-check:checked::after,
#opt-in-newsletter:checked::after {
    content: '\2713';
    box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: #7300e0 !important;
    width: 20px;
    height: 20px;
}
input#address-toggle-0:checked::after {
    content: '\2713';
    box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
    border-radius: 3px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    background-color: #7300e0 !important;
    width: 15px;
    height: 15px;
}

.vtexIdUI .btn-success {
    background: #7300e0 !important;
    box-shadow: none !important;
}
span.error {
    color: #7300e0 !important;
}
span.help.error {
    color: #7300e0 !important;
}
.vtex-omnishipping-1-x-imageAsk.ask-for-geolocation-image-ask {
    background: #7300e0;
}

.vtex-shipping-preview-0-x-frame.srp-toggle__current.w-50.ba.b--blue.shadow-4.br-pill.absolute.vtex-shipping-preview-0-x-framePickup,
.vtex-shipping-preview-0-x-frame.srp-toggle__current.w-50.ba.b--blue.shadow-4.br-pill.absolute.vtex-shipping-preview-0-x-frameDelivery {
    border-color: #7300e0 !important;
    border-radius: 5px;
}
label.srp-toggle__pickup.flex-none.bg-transparent.pointer.w-50.tc.ttu.pv3.gray.blue,
label.srp-toggle__delivery.flex-none.bg-transparent.pointer.w-50.tc.ttu.pv3.gray.blue {
    color: #7300e0 !important;
}
.srp-toggle__wrapper.flex.br-pill.shadow-4.relative {
    border-radius: 5px;
}
button#shipping-calculate-link {
    background: #ffffff;
    border: 1px solid #7300e0;
    color: #7300e0;
    letter-spacing: 0.5px;
}
button#shipping-calculate-link:hover {
    background: #7300e0;
    color: #ffffff;
}
h2.srp-main-title.mt0.mb0.f3.black-60.fw4 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.5px;
    color: #000000;
    font-weight: 600;
}
input.success {
    color: #7300e0;
}

.btn-success {
    background: #ffffff;
    border: 1px solid #7300e0;
    color: #7300e0 !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    background: #7300e0;
    border: 1px solid #7300e0;
    color: #ffffff !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
select#bundle-item1 {
    background: #ffffff;
    border: 1px solid #7300e0;
}
input#add-product-service-85588 {
    border: 1px solid #7300e0;
    margin: 10px 0px;
    text-transform: uppercase;
    color: #7300e0;
    letter-spacing: 0.7px;
    font-size: 11px;
    background: #ffffff;
}
input#add-product-service-85588:hover {
    color: #ffffff;
    background: #7300e0;
}
button#find-pickup-link {
    color: #ffffff;
    background: #7300e0;
    font-weight: 600;
    border: 1px solid #7300e0;
}
.onda-v1 .bg-blue {
    color: #ffffff;
    background: #7300e0;
    font-weight: 600;
    border: 1px solid #7300e0;
}
.default-modal {
    color: #000000;
}

button#payment-data-submit i.icon-lock:before {
    color: #ffffff;
}
button#payment-data-submit i.icon-lock {
    margin-left: 20px;
}
.gift-card-section {
    background: #ffffff;
    width: auto;
}
input#payment-discounts-code {
    padding: 14px;
}
button#btn-add-gift-card {
    background: #ffffff;
    border: 1px solid #7300e0;
    text-transform: uppercase;
    color: #7300e0;
    letter-spacing: 0.5px;
}

.srp-toggle__wrapper {
    background: none;
    box-shadow: none !important;
}

.srp-toggle__pickup {
    display: none;
}

.vtex-omnishipping-1-x-deliveryOptionInactive {
    display: none;
}

.check-label {
    margin-bottom: 10px;
}

#terms-check,
#policy-check {
    width: 19px;
    height: 19px;
    margin: 0 5px 0 0;
}

.terms-conditions label {
    padding: 0;
}

.cart-items tbody .product-name .add-service-container a {
    border: none;
    background: none !important;
    color: #000000 !important;
    /* text-transform: uppercase; */
    text-shadow: none;
    font-size: 13.5px;
    text-align: left;
    line-height: 1.4;
    padding: 5px;
    letter-spacing: 0.3px;
    box-shadow: none;
    padding-left: 20px;
}

.cart-items tbody .product-name .add-service-container a:before {
    content: '';
    /* content: "\2713"; */
    color: #dad8d8;
    width: 15px;
    height: 15px;
    border: 1.5px solid #7300e0;
    border-radius: 5px;
    display: block;
    position: relative;
    top: 19px;
    background: #fff;
    left: -25px;
    font-size: 14px;
}
.cart-items tbody .product-name .add-service-container a:hover {
    /* color: #7300e0 !important; */
    /* border: 1px solid #7300e0 !important; */
    text-decoration: underline;
}
p.add-service-container {
    border: 1px solid #c3a1e5;
    padding: 10px 10px 10px;
    border-radius: 5px;
    background: #f5ebff;
}
p.add-service-container:before {
    content: 'Servicios Especiales disponibles';
    color: #7300e0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    display: block;
    margin-bottom: -10px;
}
.product-service {
    border: 1px solid #c3a1e5;
    padding: 0px 10px 10px;
    border-radius: 5px;
    background: #f5ebff;
}
.product-service:before {
    content: 'Servicios Especiales disponibles';
    color: #7300e0;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
form.product-service select {
    /* text-transform: uppercase; */
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0px 5px;
    margin-bottom: 10px;
    border: 1px solid #000000 !important;
    background: #ffffff;
    font-size: 13.5px;
}

form.product-service select:hover {
    background: #ffffff;
    border: 1px solid #7300e0;
    /* text-transform: uppercase; */
    color: #7300e0;
    border: 1px solid #7300e0 !important;
}

.product-service input {
    background: #7300e0;
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.product-service input:hover {
    background: #7300e0;
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 1px 2px 1px #dddddd;
}
@media screen and (min-width: 480px) {
    /* .form-page .pre-email {
        width: 60% !important;
        margin: 0 auto 50px 100px !important;
    } */
}

@media screen and (max-width: 768px) {
    input#creditCardpayment-card-0Number {
        /* width: 100%; */
    }
    .orderform-template,
    .container-order-form {
        width: 100% !important;
        margin: 0 auto !important;
        padding: 0 10px;
        float: none !important;
    }
    .full-cart .cart table tbody tr td.quantity input {
        top: 5px;
        position: relative;
    }
    .full-cart .cart table tbody tr td.quantity {
        width: 90px;
        border-bottom: none;
    }
    .cart-items tbody .product-name a {
        font-size: 13px;
        line-height: 1.3;
        padding-right: 25px;
    }
    .cart-items tbody td {
        padding: 10px;
        border-bottom: none;
    }
    .orderform-template-holder .client-first-name,
    .orderform-template-holder .client-document {
        width: auto;
        margin: 0px;
    }
    .orderform-template-holder .client-last-name,
    .orderform-template-holder .client-phone {
        margin: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .orderform-template-holder .client-profile-data input[type='email'] {
        width: 100%;
    }
    .orderform-template-holder .client-profile-data .client-document,
    .orderform-template-holder .client-profile-data .client-phone {
        margin-top: 10px;
    }
    .orderform-template-holder .client-profile-data input[type='text'] {
        width: 100% !important;
    }
    .orderform-template-holder #opt-in-newsletter {
        padding: 0px;
    }
    h2.srp-main-title.mt0.mb0.f3.black-60.fw4 {
        text-align: center;
    }
    p.add-service-container {
        padding: 10px 5px 10px;
    }
    .cart-items tbody .product-name .add-service-container a:before {
        left: -20px;
    }

    form.product-service select {
        width: 95%;
    }
}

@media screen and (min-width: 900px) {
    .checkout-top-header-wrap {
        width: 870px;
        padding: 16px 0;
    }

    .checkout-top-header-wrap .logo {
        width: 220px;
    }

    .checkout-top-header-wrap .center-info {
        display: block;
    }

    .checkout-info-mobile {
        display: none;
    }

    #step-by-step-container {
        width: 870px;
        margin: 60px auto;
    }

    #step-by-step-container::after {
        width: 82%;
    }

    .link-choose-more-products-wrapper #cart-choose-more-products {
        margin-right: 30px;
    }

    .cart-links-bottom {
        text-align: right;
    }

    .full-cart .summary-totalizers .empty {
        width: 0;
    }

    /* .form-page .pre-email {
        width: 65% !important;
        margin: 0 auto 50px 190px !important;
    } */

    .client-pre-email .emailInfo {
        width: 65%;
        margin: 0 auto 0 190px;
    }

    .form-page .pre-email #client-pre-email {
        margin-bottom: 0;
    }

    .client-pre-email-h label span {
        margin-bottom: 0;
    }

    .form-page .link-cart {
        width: 700px;
        margin: 0 auto;
        text-align: right;
    }
    /* .form-page .pre-email {
        width: 90% !important;
        margin: 0 auto 10px 10px !important;
    } */
}

@media screen and (min-width: 1000px) {
    .affix {
        width: 15.5%;
    }

    .cart-fixed {
        height: 400px !important;
    }

    #payment-data .box-step-content .steps-view {
        width: 76%;
        background: none;
    }

    #payment-data .payment-group {
        padding: 0;
    }

    #payment-data .accordion-group .accordion-toggle {
        margin-bottom: 15px;
        padding: 0;
    }
    .product-image img {
        height: 60px;
        max-width: 60px;
        width: 60px;
    }
    p.vtex-pickup-points-modal-3-x-pickupDetailsHeaderTitle.pkpmodal-details-header-title {
        font-size: 20px;
    }

    /*Modal details-store*/
    .vtex-pickup-points-modal-3-x-modalDetailsMiddle.pkpmodal-details-middle {
        display: flex !important;
    }
    .vtex-pickup-points-modal-3-x-modalDetailsStore.pkpmodal-details-store {
        max-width: 60% !important;
        min-width: 60% !important;
    }

    .SecurityEnvironmentIcon {
        position: absolute;
        display: block;
        right: 0px;
    }
    p.link.link-gift-card {
        left: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .checkout-top-header-wrap {
        width: 1150px;
    }

    .checkout-top-header-wrap .logo {
        width: 260px;
    }

    .checkout-top-header-wrap .center-info p {
        font-size: 13px;
    }

    .full-cart,
    .orderform-template,
    .container-order-form {
        width: 1100px !important;
        padding: 0;
    }

    .container-order-form {
        margin: 0 auto 40px auto !important;
    }

    #step-by-step-container .step-by-step-wrap .sbs p {
        font-size: 12px;
    }
    #step-by-step-container .step-by-step-wrap .sbs .circle {
        width: 55px;
        height: 55px;
        line-height: 51px;
        font-size: 27px;
        font-weight: 500;
    }
}
