.styledLink--item-departamentos::before {
    width: 25px;
    height: 14px;
    content: '';
    display: block;
    float: left;
    background-size: contain;
    margin-right: 8px;
    background-image: url('/arquivos/icono-menu.png');
}

.styledLinkContent--item-departamentos {
    color: white;
}

.menuItem--item-departamentos {
    background-color: black;
    width: 205px;
}

.submenuWrapper--departamentos {
    padding: 0 !important;
    min-height: 70vh;
    width: 300px;
    background-color: #e4e6e6;
}

.styledLink--titulo-menu {
    color: #d70d27;
    font-weight: bold;
    padding-top: 2px;
    height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

:global(.vtex-rich-text-0-x-link--titulo-menu) {
    color: #d70d27;
    font-weight: bold;
    padding-top: 2px;
    height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

:global(.vtex-rich-text-0-x-link--titulo-menu):visited {
    color: #d70d27;
    font-weight: bold;
}

.submenuContainer--submenu-principal {
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(100vw - 300px);
}
.submenu--submenu-principal {
    width: 100%;
    min-height: 70vh;
    justify-content: flex-start;
}

.submenuWrapper--submenu-principal {
    width: 100%;
}
